@import url(http://fonts.googleapis.com/css?family=Enriqueta);

@import 'normalize';

%group:after {
  content: "";
  display: table;
  clear: both;
}

%reset {
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

body {
  font-family: 'Enriqueta', serif;
  color: rgba(0, 0, 0, .7);
}

h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, sans-serif;
  color: rgba(0, 0, 0, .8);
  @extend %reset;
}

a:visited {
  color: rgb(0, 0, 238);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  @extend %group;
}

.col {
  max-width: 30%;
  float: left;
  padding: 15px;
}

h2 {
  text-transform: uppercase;
}

h3 {
  letter-spacing: 3px;
  color: rgba(0, 0, 0, .6);
  text-transform: uppercase;
}

.col-3 {
  overflow: hidden;

  @media screen and (min-width: 1170px){
    overflow: visible;
  }
}

.image-container {
  display: block;
  margin-top: 40px;
}

.title-line {
  margin-top: 20px;
}

.title-line + p {
  margin-top: 0;
}
