// VARIABLES
$bg-color: #041723;
$primary-font-color: #FFFFFF;
$secondary-font-color: #68747B;
$highlight-color: #8075FF;
$default-font-size: 24px;

$grid-columns: 12;
$grid-gutter: 16px;
$grid-margin: 16px;
$grid-max-width: 1600px;

// MIXINS
@mixin grid-container {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: $grid-gutter;
  max-width: $grid-max-width;
  margin: 0 auto;
  padding: 0 $grid-margin;
  box-sizing: border-box;
}

@mixin grid-item($span: 1, $start-column: 1) {
  grid-column: $start-column / span $span;
}

// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


// GLOBAL
body {
  background-color: $bg-color;
  color: $primary-font-color;
  font-family: 'Merriweather', serif;
  padding: 18vh 1rem;
  font-size: $default-font-size;
  line-height: 1.5;
  padding-top: $grid-gutter * 6;
}

h3 {
  font-size: 1em;
  color: $secondary-font-color;
  font-weight: bold;
  text-transform: uppercase;
}

li {
  margin-bottom: 1em;
}

.container {
  @include grid-container;
}

.item-span-8-skip-1 {
  @include grid-item(8, 2);
}

a {
  color: $highlight-color;
  text-decoration: underline;

  &:hover {
    color: lighten($highlight-color, 10%);
  }
}

blockquote {
  margin: 0;

  .attribute {
    color: rgba($highlight-color, 60%);
    font-size: 1rem;
    display: block;
  }
}

// HEADER

header {
  .logo {
    max-width: 100px;
  }

  font-size: .5em;

  .header-content {
    margin-bottom: $grid-gutter * 3;
  }
}

main {

  .large-quote {
    font-size: 2em;
  }

  .regular-quote {
    font-size: 1.5em;
  }
}

section {
  margin-bottom: $grid-gutter * 3;
}