<article class="container">
	<section class="col col-1">
		<h1>Knock, Knock</h1>
		<h3 class="sub-line">Who's there?</h3>
		<p>I'm <strong>Arvin</strong>— I work with companies and applications to better meet their user needs through user research, interaction and front-end development. If you're interested in a more real-time perspective, follow me on:</p>

		<a href="http://twitter.com/arvindang">Twitter</a>
		<a href="https://medium.com/@arvindang">Medium</a>
	</section>

	<section class="col col-2">
		<h2>What I do</h2>
		<p>I take into consideration who your users are, where they're coming from and their intentions with your application. Piecing together the variety of use cases, the current scope of your application and it's key features— I'll map out a flow users can take when approaching your service or application.</p>

		<p>This becomes the outline or framework for the look, feel and use of your application. Doing this well requires a deep understanding of your users, the problem you're trying to solve, the technology choices you're making, and having the ability to prototype quickly. Most of my work spans between discussions with your users, and building directly in the browser.</p>

		<h2>My toolbox</h2>
		<h3 class="title-line">Middleman</h3>
		<p>Middleman is a light Ruby based framework. I rely on Middleman to prototype quick front-end interactions that yield production ready code.</p>

		<h3 class="title-line">Bourbon</h3>
		<p>Bourbon is a SASS-based mixin library provided by the team at thoughbot. It's lighter weight than Compass, and provides great utility when combined with their grid framework- Neat.</p>
		<p>Don't worry, I enjoy a normal glass of bourbon too. Preferably Buffalo Trace.</p>

		<h3 class="title-line">Illustrator</h3>
		<p>Take a step back with me, and visualize the entire artboard. Clicking that button will take you there. Searching here will populate this. Now let's get our SVG on and make some pretty animations in the browser.</p>

		<h3 class="title-line">Dot Grid Journal</h3>
		<p>Don't underestimate paper. One of my favorite notebooks, I keep on me always from our friends at Behance. Works wonderfully when paired with a rOtring Mechanical Pencil.</p>
	</section>

	<section class="col col-3">
		<h4>Interested in working with me?</h4>
		<a href="mailto:hello@arvindang.com">Get in Touch</a>
		<img src="images/cartoon.png" alt="Drawn caricature of Arvin" class="image-container">
	</section>
</article>