---
title: Arvin Dang
---

<article class="container">
	<section class="col col-1">
		<h1>Knock, Knock</h1>
		<h3>Who's there?</h3>
		<p>I'm <strong>Arvin</strong>— I work with companies and applications to better meet their user needs through user research, interaction and front-end development. If you're interested in a more real-time perspective, follow me on:</p>

		<a href="http://twitter.com/arvindang">Twitter</a>
		<a href="https://medium.com/@arvindang">Medium</a>
	</section>

	<section class="col col-2">
		<h2>What I do</h2>
		<p>I take into consideration who your users are, where they're coming from and their intentions with your application. Piecing together the variety of use cases, the current scope of your application and it's key features— I'll map out a flow users can take when approaching your service or application.</p>

		<p>This becomes the outline or framework for the look, feel and use of your application. Doing this well requires a deep understanding of your users, the problem you're trying to solve, the technology choices you're making, and having the ability to prototype quickly. Most of my work takes place with your users, and in the browser.</p>
	</section>

	<section class="col col-3">
		<h4>Interested in working with me?</h4>
		<a href="mailto:hello@arvindang.com">Get in Touch</a>
		<img src="images/cartoon.png" alt="Drawn caricature of Arvin" class="image-container">
	</section>
</article>